{% extends "_helpers/_base.html" %}
{% load static %}

{%  block title %}

    Director {{ director.last_name }}
{%  endblock  %}

{% block content %}


    <hr>
    <h3> Информация о режиссере:</h3>
    <h3> Имя {{ director.first_name }}</h3>
    <h3> Фамилия {{ director.last_name }}</h3>
    <h3> Почта {{ director.director_email }}</h3>
    <hr>


    <hr>
    <h3> Список фильмов:</h3>
    <ul>
        {% for movie_d in director.movie_set.all %}
            <li> {{ movie_d }}</li>
        {% endfor %}
    </ul>

{% endblock content %}